.hero {
  padding: 85px 0 0;

  &__infos {
    margin-bottom: 30px;
    max-width: 590px;
  }

  &__presentation {
    margin-top: 10px;
    color: #FFF;
    font-size: 16px;
    line-height: 30px;
  }

  &__title {
    margin-bottom: 30px;
    color: #FFF;
    font-size: 54px;
    font-weight: 800;
    line-height: 70px;
  }

  &__arrow {
    margin: 127px auto 0;
  }

  @media (min-width: 1024px) {
    height: calc(100vh - 80px);

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}