.hero {
  &__container {
    padding-top: 85px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

  &__infos {
    margin-bottom: 30px;
    max-width: 590px;
  }

  &__presentation {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
  }

  &__title {
    margin-bottom: 30px;
    color: #fff;
    font-family: var(--font-secondary);
    font-size: 54px;
    font-weight: 800;
    line-height: 70px;
  }

  &__arrow {
    display: none;
    margin: auto auto 0 auto;
  }

  @media (min-width: 1024px) {
    &__container {
      height: calc(100vh - 80px);
      padding-top: 180px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__arrow {
      display: block;
    }
  }
}
