.heading {
  font-family: var(--font-secondary);
  color: #FFF;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 30px;
}

.typography {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}