.skill {
  flex-basis: 450px;

  &:first-of-type {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 10px;
  }

  @media (min-width: 1366px) {
    &__title {
      margin-bottom: 20px;
    }
  }
}
