.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 16px 0;
  background-color: var(--background-dark);
  border-bottom: 1px solid var(--border-color);

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
