.header {
  display: none;
  padding: 26px 0;

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }

  @media (min-width: 768px) {
    display: block;

    &__menu {
      flex-direction: row;
    }
  }
}